# Python / Django
Backend/venv/
Backend/__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
Backend/.env

# Node / React
Frontend/node_modules/
Frontend/build/
Frontend/.env

# OS files
.DS_Store
Thumbs.db