# Python / Django
Backend/venv/
Backend/__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
__pycache__/
*.pyc
db.sqlite3
media/
Backend/.env

# Node / React
Frontend/NotesApp/node_modules/
Frontend/NotesApp/build/
Frontend/NotesApp/.env

# OS files
.DS_Store
Thumbs.db